{% extends 'base.html' %}

{% block section %}
	<h1 class="mb-5 mt-3">{% block title %} {{ operation }} recipe {% endblock %}</h1>
	{% if not entries_available %}
		<div class="alert alert-danger" role="alert">Cannot add recipe: recipe limit reached ({{ num_recipes }})</div>
	{% endif %}
	<form action="{{ url_for('recipes.add') if 'Add' == operation else url_for('recipes.edit', category=recipe_form.recipe_category.data, recipe_name=recipe_form.recipe_name.data )}}" method="post">
		{{ recipe_form.csrf_token }}
		<section class="container mb-5 text-start">
			<div class="mb-3 mt-2 row">
				<div class="col">
					{% if recipe_form.recipe_name.errors %}
						<div class="is-invalid">
							<div class="input-group">
								<div class="input-group-text"><strong>{{ recipe_form.recipe_name.label }}</strong></div>
								{{ recipe_form.recipe_name(class_="form-control is-invalid") }}
							</div>
							<ul class="errors list-group">{% for error in recipe_form.recipe_name.errors %}<li class="list-group-item form-check text-danger">{{ error }}</li>{% endfor %}</ul>
						</div>
					{% else %}
						<div class="input-group">
							<div class="input-group-text"><strong>{{ recipe_form.recipe_name.label }}</strong></div>
							{{ recipe_form.recipe_name(class_="form-control") }}
						</div>
					{% endif %}
				</div>
				<div class="col">
					{% if recipe_form.recipe_name.errors %}
						<div class="is-invalid">
							<div class="input-group">
								<div class="input-group-text"><strong>{{ recipe_form.recipe_category.label }}</strong></div>
								{{ recipe_form.recipe_category(class_="form-control is-invalid") }}
							</div>
							<ul class="errors list-group">
								{% for error in recipe_form.recipe_name.errors %}
									<li class="list-group-item form-check text-danger">{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<div class="input-group">
							<div class="input-group-text"><strong>{{ recipe_form.recipe_category.label }}</strong></div>
							{{ recipe_form.recipe_category(class_="form-control") }}
						</div>
					{% endif %}
				</div>
			</div>
		</section>
		<section class="ingredients container mb-5">
			<h2 class="mb-4">Ingredients</h2>
			{% for category in ingredients %}
				<h3 class="mb-5 mt-3">{{ category.title() }}</h3>
				<section class="ingredient-category row">
					{% for ingredient in ingredients[category] %}
							{% set ingredient_id = (category.title() + ingredient.title()).replace(" ", "") %}
							{{ ingredients[category][ingredient]["form"].ingredient_name(type="hidden", readonly=True, value=ingredient) }}
							{{ ingredients[category][ingredient]["form"].ingredient_category(type="hidden", readonly=True, value=category) }}
							<section class="ingredient col">
									<span><strong>{{ ingredient.title() }}</strong></span>
									<div class="input-group">
										{% if ingredients[category][ingredient]["form"].ingredient_amount.errors %}
											<div class="is-invalid">
												<div class="input-group">
													<div class="input-group-text w-50"><strong>{{ ingredients[category][ingredient]["form"].ingredient_amount.label }}</strong></div>
													{{ ingredients[category][ingredient]["form"].ingredient_amount(class_="form-control ingredient-amount font-monospace text-end", id=("ingredientAmount-" + ingredient_id)) }}
												</div>
												<ul class="errors list-group">{% for error in ingredients[category][ingredient]["form"].ingredient_amount.errors %}<li class="list-group-item form-check text-danger">{{ error }}</li>{% endfor %}</ul>
											</div>
										{% else %}
											<div class="input-group">
												<div class="input-group-text w-50"><strong>{{ ingredients[category][ingredient]["form"].ingredient_amount.label }}</strong></div>
												{{ ingredients[category][ingredient]["form"].ingredient_amount(class_="form-control ingredient-amount font-monospace text-end", id=("ingredientAmount-" + ingredient_id)) }}
											</div>
										{% endif %}
										{% if ingredients[category][ingredient]["form"].ingredient_unit.errors %}
											<div class="is-invalid">
												<div class="input-group">
													<div class="input-group-text w-50"><strong>{{ ingredients[category][ingredient]["form"].ingredient_unit.label }}</strong></div>
													{{ ingredients[category][ingredient]["form"].ingredient_unit(class_="form-control ingredient-unit", id=("ingredientUnit-" + ingredient_id)) }}
												</div>
												<ul class="errors list-group">{% for error in ingredients[category][ingredient]["form"].ingredient_unit.errors %}<li class="list-group-item form-check text-danger">{{ error }}</li>{% endfor %}</ul>
											</div>
										{% else %}
											<div class="input-group">
												<div class="input-group-text w-50"><strong>{{ ingredients[category][ingredient]["form"].ingredient_unit.label }}</strong></div>
												{{ ingredients[category][ingredient]["form"].ingredient_unit(class_="form-control ingredient-unit", id=("ingredientUnit-" + ingredient_id)) }}
											</div>
										{% endif %}
									</div>
							</section>
					{% endfor %}
				</section>
			{% endfor %}
		</section>
		<section class="product-specifications container">
			<h2 class="mb-5">Product Specifications</h2>
			{% for specification_form in recipe_form.specifications %}
				<section class="specification border-bottom row pb-4 mb-4">
					<div class="col">
						<div class="input-group">
							<span class="input-group-text"><strong>Format</strong></span>
							{{ specification_form.specification_format(class_="form-control specification-format") }}
						</div>
					</div>
					<div class="col">
						<div class="input-group">
							<span class="input-group-text"><strong>Format Size</strong></span>
							{{ specification_form.specification_format_size(class_="form-control specification-format-size") }}
						</div>
					</div>
					<div class="col">
						<div class="input-group">
							<span class="input-group-text"><strong>Size</strong></span>
							{{ specification_form.specification_size(class_="form-control specification-size font-monospace text-end") }}
							{{ specification_form.specification_unit(class_="form-control specification-unit") }}
						</div>
					</div>
				</section>
			{% endfor %}
		</section>
		<section class="procedure container mb-5 mt-3">
			<h2 class="mb-3">Procedure</h2>
			<div class="input-group">
				{{ recipe_form.procedure(class_="form-control", rows=(recipe_form.procedure.data.count('\n') + 1)) }}
			</div>
		</section>
		<button type="button" class="btn btn-secondary" onclick="javascript:history.back()">Cancel</button>
		<button type="submit" class="btn btn-primary">{{ "Add" if "Add" == operation else "Save" }}</button>
	</form>
{% endblock %}
