{% extends 'base.html' %}

{% block section %}
	<h1 class="mt-3 mb-5">{% block title %}Ingredients{% endblock %}</h1>
	{% for category in ingredients %}
		<article class="ingredient-category">
			<h2 class="mb-3">{{ category.title() }}</h2>
			<table class="ingredient-info table table-light table-striped table-hover align-middle mb-5">
				<thead>
					<tr>
						<th scope="col">Ingredient</th>
						<th scope="col">Amount</th>
						<th scope="col">Unit</th>
						<th scope="col">Price</th>
						<th scope="col">Manufacturer</th>
						<th scope="col">Vendor</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients[category] %}
						<tr>
							<th scope="row">{{ ingredient.title() }}</th>
							<td class="font-monospace">{{ ingredients[category][ingredient]["amount"] }}</td>
							<td>{{ ingredients[category][ingredient]["unit"] }}</td>
							<td  class="font-monospace">{{ ingredients[category][ingredient]["price"] }}</td>
							<td>{{ ingredients[category][ingredient]["manufacturer"] }}</td>
							<td>{{ ingredients[category][ingredient]["vendor"] }}</td>
							<td class="d-print-none">
								<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Edit</button>
								<div class="modal fade" id="edit{{ (category.title() + ingredient.title()).replace(" ", "-") }}" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="edit{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Edit ingredient</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">Edit details for ingredient <strong>{{ ingredient.title() }}</strong>?</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<a href="{{ url_for('ingredients.edit', category=category, ingredient_name=ingredient) }}" class="btn btn-primary">Edit</a>
											</div>
										</div>
									</div>
								</div>
								{% if not ingredients[category][ingredient]["dependencies"] %}
									<button type="button" class="btn btn-danger" data-bs-toggle="modal"
										data-bs-target="#delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Delete</button>
									<div class="modal fade" id="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}" tabindex="-1" aria-labelledby="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Delete ingredient</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">Delete <strong>{{ ingredient }}</strong> from ingredient list?</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
													<form action="{{ url_for('ingredients.delete') }}" method="post">
														<input type="hidden" id="deleteIngredient{{ (category.title() + ingredient.title()).replace(" ", "-") }}"
																			 name="deleteIngredient"
																			 value="{{ ingredient }}"/>
														<input type="hidden" id="deleteCategory{{ (category.title() + ingredient.title()).replace(" ", "-") }}"
																			 name="deleteCategory"
																			 value="{{ category }}"/>
														<button type="submit" class="btn btn-danger">Delete</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								{% else %}
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Delete</button>
									<div class="modal fade" id="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}" tabindex="-1" aria-labelledby="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="delete{{ (category.title() + ingredient.title()).replace(" ", "-") }}">Delete ingredient</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<p>Cannot delete <strong>{{ ingredient }}</strong> from ingredient list.</p>
													<p>To delete <strong>{{ ingredient }}</strong>, first delete these recipes:</p>
													<div class="list-group">
														{% for recipe in ingredients[category][ingredient]["dependencies"] %}
														<a href="{{ url_for('recipes.recipe', category=recipe['category'], recipe_name=recipe['name']) }}" class="list-group-item list-group-item-action">{{ recipe['name'] }}</a>
														{% endfor %}
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</article>
	{% endfor %}
	<button type="button" class="btn btn-primary mt-5 d-print-none" data-bs-toggle="modal"><a class="link-light link-underline-opacity-0" href="{{ url_for('ingredients.add') }}">Add ingredient</a></button>
{% endblock %}
