{% extends 'base.html' %}

{% block section %}
<h1>{% block title %} {{ recipe["name"] }} {% endblock %}</h1>
	<article class="recipe">
		<section class="mb-5">
			<h2 class="mb-3">Ingredients</h2>
				<table class="ingredient-list table table-light table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Ingredient</th>
							<th scope="col">Amount</th>
							<th scope="col">Unit</th>
							<th scope="col">Cost</th>
						</tr>
					</thead>
					<tbody>
						{% for category in recipe["ingredients"] %}
							{% for ingredient in recipe["ingredients"][category] %}
								<tr>
									<th scope="row">{{ ingredient }}</th>
									<td class="font-monospace">{{ recipe["ingredients"][category][ingredient]["amount"] }}</td>
									<td>{{ recipe["ingredients"][category][ingredient]["unit"] }}</td>
									<td class="font-monospace">{{ "${:.2f}".format(recipe["ingredients"][category][ingredient]["cost"]) }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
		</section>
		<section class="mb-5">
			<h2 class="mb-3">Product Specifications</h2>
			<table class="product-specification table table-light table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Format</th>
						<th scope="col">Size</th>
						<th scope="col">Amount</th>
						<th scope="col">Unit</th>
						<th scope="col">Cost</th>
					</tr>
				</thead>
				<tbody>
					{% for product_format in recipe["specifications"] %}
						{% for product_size in recipe["specifications"][product_format] %}
							<tr>
								<th scope="row">{{ product_format }}</th>
								<td>{{ product_size }}</td>
								<td class="font-monospace">{{ recipe["specifications"][product_format][product_size]["amount"] }}</td>
								<td>{{ recipe["specifications"][product_format][product_size]["unit"] }}</td>
								<td class="font-monospace">{{ "${:.2f}".format(recipe["specifications"][product_format][product_size]["cost"]) }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</section>
		<section class="container w-75 mb-3">
			<h2 class="row justify-content-center">Procedure</h2>
            <div class="row input-group justify-content-center">
                <textarea class="form-control h-100" rows={{ recipe["procedure"].count('\n') + 1 }} disabled>{{ recipe["procedure"] }}</textarea>
            </div>
		</section>
		<section class="d-print-none">
			<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
			data-bs-target="#edit{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Edit Recipe</button>
			<div class="modal fade" id="edit{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" tabindex="-1" aria-labelledby="edit{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="edit{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Edit Recipe</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">Edit recipe for <strong>{{ recipe["name"] }}</strong>?</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<a href="{{ url_for('recipes.edit', category=recipe['category'], recipe_name=recipe['name'].replace(" ", "-")) }}" class="btn btn-primary">Edit</a>
						</div>
					</div>
				</div>
			</div>
			{% if not recipe["schedules"] %}
				<button type="button" class="btn btn-danger" data-bs-toggle="modal"
				data-bs-target="#delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Delete Recipe</button>
				<div class="modal fade" id="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" tabindex="-1" aria-labelledby="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Delete recipe</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">Delete <strong>{{ recipe["name"] }}</strong> from recipe list?</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<form action="{{ url_for('recipes.delete') }}" method="post">
									<input type="hidden" id="deleteRecipe{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}"
														 name="deleteRecipe"
														 value="{{ recipe["name"] }}"/>
									<input type="hidden" id="deleteCategory{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}"
														 name="deleteCategory"
														 value="{{ recipe["category"] }}"/>
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Delete Recipe</button>
				<div class="modal fade" id="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" tabindex="-1" aria-labelledby="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="delete{{ (recipe["category"].title() + recipe["name"].title()).replace(" ", "-") }}">Delete recipe</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
								<div class="modal-body">
									<p>Cannot delete <strong>{{ recipe["name"] }}</strong> from recipe list.</p>
									<p>To delete <strong>{{ recipe["name"] }}</strong>, first remove it from these schedules:</p>
									<div class="list-group">
										{% for schedule in recipe["schedules"] %}
											<a href="{{ url_for('schedules.schedule', schedule_name=schedule) }}" class="list-group-item list-group-item-action">{{ schedule }}</a>
										{% endfor %}
									</div>
								</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</section>
	</article>
{% endblock %}
