{% extends 'base.html' %}

{% block section %}
	<h1 class="mt-3 mb-5">{% block title %}Recipes{% endblock %}</h1>
	{% for category in recipes %}
		<section class="recipe-category">
			<h2 class="mb-4 mt-5">{{ category.title() }}</h2>
			<div class="list-group">
				{% for recipe in recipes[category] %}
					<a href="{{ url_for('recipes.recipe', category=category, recipe_name=recipe.replace(" ", "-")) }}" class="list-group-item list-group-item-action fs-4 w-50 m-auto">{{ recipe }}</a>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
	<button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal"><a class="link-light link-underline-opacity-0" href="{{ url_for('recipes.add') }}">Add recipe</a></button>
{% endblock %}
